<title></title>
<style>#p{font-family:monospace;}*{color:#ccc;padding:1px;margin:2px;text-decoration:none;user-select:none;padding:0;margin:0}
img,video{max-width:240px;max-height:240px;}pre{font-family:monospace}progress{width:500px}</style>
<base href="https://cdn.discordapp.com/attachments/"/>
<body bgcolor="#0a0a0a">
<div id="all">
<div>
<a href="javascript:(function(){p=start       }());" >&#x23ee;</a>
<a href="javascript:(function(){resume();pi=-1}());" >&#x25c0;</a>
<a href="javascript:(function(){stop()        }());" >&#x23f8;</a>
<a href="javascript:(function(){resume();pi=1 }());" >&#x25b6;</a>
<a href="javascript:(function(){__co=co;co=10000;for(zzz=0;zzz<200;zzz+=1)brute();co=__co;delete __co;}());">&#x23e9;</a>
<datetime id="p"></datetime> <input type="range" min="0" max="1" value="0" id="timebar" style="width:550px" step="any">
</div>
<div>
<select id="chan">
<option  value="0"  > lewds-for-days            </option>
<option  value="1"  > your-lewds-only           </option>
<option  value="2"  > wips-and-crits            </option>
<option  value="3" selected > exed-art                  </option>
<option  value="4"  > pafu-paradise             </option>
<option  value="5"  > wombs-and-more            </option>
<option  value="6"  > idea-party                </option>
<option  value="7"  > event-central             </option>
<option  value="8"  > drawpiles-and-stuff       </option>
<option  value="9"  > pufffy-pussy-committee    </option>
<option  value="10" > collab-corner             </option>
<option  value="11" > plants-in-the-pants       </option>
<option  value="12" > pokephillia               </option>
<option  value="13" > unknown                   </option>
<option  value="14" > unknown                   </option>
<option  value="15" > wpddpw (general)          </option>
<option  value="16" > wpddpw (art)              </option>
<option  value="17" > wpddpw (womb-with-a-view) </option>
<option  value="18" > wpddpw (share)            </option>
<option  value="19" > wpddpw (drawpile)         </option>
</select>
file name:
<input type="input" id="fname" value="unknown.png" size="16"/>
skip to time / id: 
<input type="input" id="skiptov" size="18"/>
<button id="skipto">go</button>
speed: pain
<input type="range" style="width:80px" min="0" max="5" value="0" id="accel"> FUCK
</div>
<h1><pre>trying #<a id="main_stat">...</a><br/>testing <a id="testno">00000</a> images at once...<a id="slow" style="display:none">!</a></pre></h1>
</div>
</body>
<script>
document.getElementById("chan").onchange = function () {
c=parseInt(document.getElementById("chan").value)
}
document.getElementById("skipto").onclick = function () {
newv=document.getElementById("skiptov").value
if(parseInt(newv)<2021)
{
p=Date.parse(newv)-off
py=0n
bar.value=id2per()
}
else {
p=parseInt(BigInt(newv) >> 22n)
py=parseInt(BigInt(newv) & 0x3FF) | parseInt((BigInt(newv) & 0x60000n) >> 7n)
}
}
document.getElementById("fname").onchange = function () {
f=document.getElementById("fname").value
}
zz=[]
document.getElementById("accel").onchange = function () {
if(z!==null){
for(i=0;i<zz.length;i+=1)
clearInterval(zz[i])
zz=[]
for(i=0;i<document.getElementById("accel").value;i+=1){
zz[i]=setInterval(brute,t)
co=Math.pow(zz.length+3,5)
}
}
}
c=3
cl=[
"519283815420788736",
"519311585613971497",
"573340173849591848",
"519340951542431745",
"519645645380911129",
"519277069721534480",
"638383302067355679",
"657720804179705869",
"520010054846644224",
"519310386953060352",
"576839074036449310",
"519330082532098068",
"621043055545548800",
"520020716775669790",
"519329862276743168",
"329102001470308353",
"329145205448114187",
"329149092087201792",
"329151083429494784",
"346531286908796938"
]
cln=[
"lewds-for-days",
"your-lewds-only",
"wips-and-crits",
"exed-art",
"pafu-paradise",
"wombs-and-more",
"idea-party",
"event-central",
"drawpiles-and-stuff",
"puffy-pussy-committee",
"collab-corner",
"pokephillia",
"plants-in-the-pants",
"unknown",
"unknown",
"??? wpddpw (general)",
"??? wpddpw (art)",
"??? wpddpw (womb-with-a-view)",
"??? wpddpw (share)",
"??? wpddpw (drawpile)",
]
off=1420070400000
p=1546302621042-off
px=0n
py=64n
pyy=true
pym=3n
pi=1
ppp=new Date(p)
pp=document.getElementById("p")
f="unknown.png"
s=document.getElementById("main_stat")
start=78464031570
end=new Date("2021").getTime()-off
max=end-start
br=document.createElement("br")
ci=0
cc=0
co=1100
cu=0
t=0
tn=document.getElementById("testno")
sw=document.getElementById("slow")
r=0
ra=new Array()
rb=1546302600000
rn=0
re=false
luck=5
rps=new Array()
rpsi=0
z=null
m=false
lp=performance.now()
//lmk=new XMLHttpRequest()

function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
if(getCookie("p")!=="")p=parseInt(getCookie("p"))

if(m){document.getElementById("all").innerHTML='<a id="main_stat"></a>'
s=document.getElementById("main_stat")}

function sos(event){
ci-=1;cc+=1
event.target.datetime=new Date(p+off).toISOString()
document.body.appendChild(event.target)
//lmk.open("POST","")
//lmk.setRequestHeader("Accept","application/json")
//lmk.setRequestHeader("Content-Type","application/json")
//lmk.send('{"content":"'+event.target.src+'"}')
}

function brute(){
//if(cu>50000)
if(ci<co){
cu+=1
ci+=1
i=document.createElement("img")
// implement using pym to adjust length at which to search how many possibilities under lowest bits
px=((BigInt(p) << 22n) | ((py & 0x600n) << 8n) | (py & 0x1FFn))
i.onload=sos
i.id=px.toString()
i.src=cl[c].toString()+"/"+i.id+"/"+f
i.onerror=function(x){ci-=1}
{if(pyy){py+=1n;if(py>0x5FFn){py=0n;p+=pi}}else{p+=pi}}
rpsi+=1
}}

function id2per(){
return ((p+(parseInt(py)/0x3FF))-start)/(end-start)
}

function stop(){
clearInterval(z)
z=null
for(i=0;i<zz.length;i+=1)
clearInterval(zz[i])
zz=[]
}

function resume(){
if(z===null)
z=setInterval(brute,t)
for(i=0;i<document.getElementById("accel").value;i+=1){
zz[i]=setInterval(brute,t)
co=Math.pow(zz.length+3,5)
}
}

resume()

setInterval((function(){
s.innerHTML=cln[c]+" > "+px.toString(16).toUpperCase()+" > "+f
ppp.setTime(p+off);
pp.innerHTML=new Date(p+off).toISOString()
tn.innerHTML=ci.toString().padStart(4)
if(ci>770){sw.style="color:#f00"}else{sw.style="display:none"}
}),22)

setInterval((function(){document.cookie="p="+p.toString()+";expires=Thu, 8 Dec 2028 12:00:00 UTC;"}),5000)

if(!m){
bar=document.getElementById("timebar")
bar.oninput=(function(){//onchange
p=start+Math.floor((bar.value)*(end-start))
py=BigInt(Math.round((bar.value%1)*0x3FFF))
brute()
})
setInterval((function(){bar.value=id2per()}),500)
setInterval((function(){rps.push(rpsi);rpsi=0}),1000)}

setInterval(console.clear,10000)
</script>
